/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    font-size: 10px;
}

/* Instead of changing the font size for each div/element you can just do it relative to the html as a rem */

header {
    background-color: #540B51;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 20vw;
}

nav {
    display:flex;
    justify-content: space-between;
    padding: 4vh 4vw;
}

.nav-part-2{
    display: flex;
    gap: 30px; 
}

.nav-part-2 button{
    background-color: #540B51;
    border: none;
}


/* .nav-border{
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);

} */

.action-call {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vw;
}

.action-call h1{
    text-align: center;
    width: 250px;
    font-size: 30px;
}

.diff-color {
    color:#ECB12F;
}

.action-call-btns{
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100px;
}

.action-call button {
    width: 93vw;
    height: 13vw;
    border: none;
    border-radius: 5px;
}

#google-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #4285F4;
    color: white;
}

#google-button img {
    width: 20px;
    padding: 5px;
    background-color: white;
    border-radius: 3px;
    position: relative;
    left: 10px;
    margin-right: 7rem;
}

#sign-up-button {
    color:#540B51;
}

#google-button span {
    text-align: center;
}

#screenshot img {
    height: 60vh;
    position: relative;
    top: 80px;
}

#screenshot {
    overflow-y: hidden;
}

#ivory {
    background-color: #F3EAE2;
    padding-top: 10px;
}

#trusted-logos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4vh 0;
}

#trusted-logos img {
   height: 5vh;
   margin: 1vh 1vw;
}

h2{
    font-size: 4rem;
}

.phone-bookmarks{
    width: 95%;
}



.companies-paragraph{
    text-align: center;
    margin: 3vh 0;
    font-size: 2rem;
}

.right-image{
    margin-left: 5%;
}

.main-content{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap:2vh;
    margin: 3vh 0 5vh 2%;
}

.main-content p {
    font-size: 2rem;
}

.main-content span {
    font-size: 2rem;
    text-decoration: none;
}

.user-feedback {
    padding-top: 30px;
    height: 130vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 2rem;
}

.initial-user-feedback {
    margin-top: 20px;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.initial-user-feedback p{
text-align: center;
width: 80vw;
padding: 10px;
}

.enterprise-sales-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.enterprise-sales-buttons button {
    width: 93vw;
    height: 13vw;
}

#enterprise-button {
    background-color: #540B51;
    color: white;
    border: none;
    border-radius: 5px;
}

#sales-button-1 {
    background-color: white;
    color: black;
    border: 1.5px solid black;
    border-radius: 5px;
}

.user-feedback p {
    overflow-y: hidden;
}

.user-feedback ul {
    text-align: center;
    overflow-y: hidden;
    height: 100vh;
}

.user-feedback li {
    margin-top: 40px;
    width: 39vw;
}

.user-feedback span {
    color: #540B51;
    font-size: 5rem;
}

#digital-hq {
    background-color: #540B51;
    height: 40vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; /* possible change here */
}

#digital-hq h3 {
    text-align: center;
    font-size: 2rem;
    margin-top: 3rem;
    width: 20rem;
}

.sales-free-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sales-free-buttons button {
    width: 93vw;
    height: 80px;
    font-size: 2rem;
}

#sales-button-2 {
    background-color: #540B51;
    color: white;
    border: 1.5px solid white;
    border-radius: 5px;
}

#free-button {
    background-color: white;
    border: none;
    border-radius: 5px;
}

footer {
    padding: 20px;
    height: 96vh;
}

.footer-logo {
    width: 10vw;
    margin-bottom: 30px;
}

.footer-part-1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer-part-1 ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-part-2 {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#socials {
    display: flex;
    justify-content: space-between;
}

.copyright {
    color: gray;
    margin-top: 25px;
}

@media (max-width: 1024px) {
   .unhidden{
    display: none;
    
   }
}

/* small screens below */

@media (min-width:768px) and (max-width: 1024px) {
    
    #call-to-action-plus {
        display: flex;
        justify-content: space-between;
        background-image: url("../images/background-singup.png");
        background-size: 120vw;
        background-repeat: no-repeat;

    }

    .action-call {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 40px 0px 100px 20px;
    }

    .action-call button {
        width: 30rem;
        height: 60px;
    }

    #google-button img {
        height: 20px;
        width: 20px;
    }

    #screenshot img {
        width: 50vw;
        height: 30vw;
        margin-bottom: 200px;
    }

    .action-call h1 {
        font-size: 5rem;
        width: 250px;
        text-align: left;
    } 

    .action-call p {
        font-size: 2rem;
        width: 280px;
    }

    #trusted-logos{
        display: flex;
        flex-direction: row;
        justify-content: center;
    align-items: center;
        
    }
    #trusted-logos div{
        display: flex;
        flex-direction: row;
        justify-content: center;
    align-items: center;
        
    }

    .phone-bookmarks{
        width: 50%;
    }
    
    .right-image{
        margin-left: 50%;
    }

    .main-content{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 700px;
    }

    #whole-thing{
        display: flex;
        flex-direction: column;
        
    }

    .user-feedback ul {
        display: flex;
        text-align: center;
        overflow-y: hidden;
        gap: 5%;
        width: 80%;
    }
    

    .enterprise-sales-buttons button {
    width: 35vw;
    height: 10vw;
}

.enterprise-sales-buttons {
    display: flex;
    flex-direction: row;
    gap: 30px
}

.footer-part-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sales-free-buttons button {
    width: 600px;
    height: 80px;
    font-size: 2rem;
}

}

/* small screens ontop */




/* this is where i had problems with the 
media. apears under the right contraints 
but just can't get them to format from here.
Tried going into the og div or section and it 
would revent the previous changes so I got kinda 
stuck. will be at class at least 20 minutes 
early barring anything crasy to go over
*/


.unhidden{
background-color: aqua;
}




.nav-part-1 {
    display: flex;
}


@media (min-width: 1024px) and (max-width: 1404px) {

}


//

/* unhide the ul hidden at a certain screen width  */

/* abc */

/* abc */

/* abc */

/* abc */
